---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=afc0534801d8e1975fc30b4fa0841ab2&format=json&geo_context=2&method=flickr.photos.search&nojsoncallback=1&text=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":23,"perpage":250,"total":5618,"photo":[{"id":"51914939398","owner":"51035555243@N01","secret":"8c23b1042d","server":"65535","farm":66,"title":"Who
        Lives in a PIneapple Under the Sea","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51851749936","owner":"68669953@N04","secret":"f0cebd26c9","server":"65535","farm":66,"title":"Kids....","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51834337799","owner":"34691125@N04","secret":"efb099f7cc","server":"65535","farm":66,"title":"PKP
        Cargo 189 205, Elst, 07-10-2012","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51793495662","owner":"151111185@N04","secret":"63a856d39f","server":"65535","farm":66,"title":"The
        Way It Was In Palmer","ispublic":1,"isfriend":[...]
