---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=afc0534801d8e1975fc30b4fa0841ab2&format=json&method=flickr.photos.search&nojsoncallback=1&text=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":836,"perpage":100,"total":83524,"photo":[{"id":"51925765270","owner":"194985622@N04","secret":"c43f17ddfb","server":"65535","farm":66,"title":"tas-blacu-lipat","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51922019643","owner":"134309311@N04","secret":"69e010c969","server":"65535","farm":66,"title":"Swer-knals
        SpongeBob","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51919451523","owner":"22541015@N00","secret":"f41ebff7da","server":"65535","farm":66,"title":"Universal
        fun","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51919680169","owner":"22541015@N00","secret":"3e595be132","server":"65535","farm":66,"title":"Universal
        fun","ispublic":1,"isfriend":0,"isfamily":[...]
