---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=20&lon=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":20,"lon":20,"timezone":"Africa/Ndjamena","timezone_offset":3600,"current":{"dt":1646676398,"sunrise":1646628926,"sunset":1646671620,"temp":299.48,"feels_like":299.48,"pressure":1008,"humidity":11,"dew_point":267.42,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":4.02,"wind_deg":14,"wind_gust":4.02,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1646676420,"precipitation":0},{"dt":1646676480,"precipitation":0},{"dt":1646676540,"precipitation":0},{"dt":1646676600,"precipitation":0},{"dt":1646676660,"precipitation":0},{"dt":1646676720,"precipitation":0},{"dt":1646676780,"precipitation":0},{"dt":1646676840,"precipitation":0},{"dt":1646676900,"precipitation":0},{"dt":1646676960,"precipitation":0},{"dt":1646677020,"precipitation":0},{"dt":1646677080,"precipitation":0},{"dt":1646677140,"precipitation":0},{"dt":1646677200,"precipitation":0},{"dt":1646677260,"precipitati[...]
