---
http_interactions:
- request:
    method: get
    uri: https://www.boredapi.com/api/activity
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e-gu0P17yNR0U+8QGq34+UTXekams"
    body:
      encoding: UTF-8
      string: '{"activity":"Learn a new programming language","type":"education","participants":1,"price":0.1,"link":"","key":"5881028","accessibility":0.25}'
  recorded_at: Sun, 06 Mar 2022 23:12:56 GMT
recorded_with: VCR 6.0.0
