---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 06:47:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-709605697"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-1828522156"}]}]}'
  recorded_at: Tue, 08 Mar 2022 06:47:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646722059,"sunrise":1646659442,"sunset":1646701087,"temp":266.71,"feels_like":266.71,"pressure":1019,"humidity":76,"dew_point":263.57,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":0.45,"wind_deg":200,"wind_gust":1.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1646722080,"precipitation":0},{"dt":1646722140,"precipitation":0},{"dt":1646722200,"precipitation":0},{"dt":1646722260,"precipitation":0},{"dt":1646722320,"precipitation":0},{"dt":1646722380,"precipitation":0},{"dt":1646722440,"precipitation":0},{"dt":1646722500,"precipitation":0},{"dt":1646722560,"precipitation":0},{"dt":1646722620,"precipitation":0},{"dt":1646722680,"precipitation":0},{"dt":1646722740,"precipitation":0},{"dt":1646722800,"precipitation":0},{"dt":1646722860,"precipitation":0},{"dt":1646722920,"precipitati[...]
[...]
