---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 21:32:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=982100600"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-622411051"}]}]}'
  recorded_at: Tue, 08 Mar 2022 21:32:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646775128,"sunrise":1646745748,"sunset":1646787550,"temp":276.74,"feels_like":275.12,"pressure":1014,"humidity":28,"dew_point":261.35,"uvi":1.55,"clouds":1,"visibility":10000,"wind_speed":1.79,"wind_deg":282,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1646775180,"precipitation":0},{"dt":1646775240,"precipitation":0},{"dt":1646775300,"precipitation":0},{"dt":1646775360,"precipitation":0},{"dt":1646775420,"precipitation":0},{"dt":1646775480,"precipitation":0},{"dt":1646775540,"precipitation":0},{"dt":1646775600,"precipitation":0},{"dt":1646775660,"precipitation":0},{"dt":1646775720,"precipitation":0},{"dt":1646775780,"precipitation":0},{"dt":1646775840,"precipitation":0},{"dt":1646775900,"precipitation":0},{"dt":1646775960,"precipitation":0},{"dt":1646776020,"precipitati[...]
[...]
