---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 09 Mar 2022 03:42:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=127335424"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-169368119"}]}]}'
  recorded_at: Wed, 09 Mar 2022 03:42:46 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646797364,"sunrise":1646745748,"sunset":1646787550,"temp":272.17,"feels_like":272.17,"pressure":1013,"humidity":46,"dew_point":263.12,"uvi":0,"clouds":27,"visibility":10000,"wind_speed":0.45,"wind_deg":182,"wind_gust":2.68,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"minutely":[{"dt":1646797380,"precipitation":0},{"dt":1646797440,"precipitation":0},{"dt":1646797500,"precipitation":0},{"dt":1646797560,"precipitation":0},{"dt":1646797620,"precipitation":0},{"dt":1646797680,"precipitation":0},{"dt":1646797740,"precipitation":0},{"dt":1646797800,"precipitation":0},{"dt":1646797860,"precipitation":0},{"dt":1646797920,"precipitation":0},{"dt":1646797980,"precipitation":0},{"dt":1646798040,"precipitation":0},{"dt":1646798100,"precipitation":0},{"dt":1646798160,"precipitation":0},{"dt":1646798220,"precipitati[...]
[...]
