---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&location=blablablalo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 06:59:10 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"blablablalo"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=uFAEdAaF9Gd1EnBWJntXfMIYoEXkTxQ3&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-788544226"}]}]}'
  recorded_at: Tue, 08 Mar 2022 06:59:10 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=39.390897&lon=-99.066067
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1646722751,"sunrise":1646744319,"sunset":1646786139,"temp":269.17,"feels_like":265.27,"pressure":1026,"humidity":56,"dew_point":262.51,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.62,"wind_deg":234,"wind_gust":2.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1646722800,"precipitation":0},{"dt":1646722860,"precipitation":0},{"dt":1646722920,"precipitation":0},{"dt":1646722980,"precipitation":0},{"dt":1646723040,"precipitation":0},{"dt":1646723100,"precipitation":0},{"dt":1646723160,"precipitation":0},{"dt":1646723220,"precipitation":0},{"dt":1646723280,"precipitation":0},{"dt":1646723340,"precipitation":0},{"dt":1646723400,"precipitation":0},{"dt":1646723460,"precipitation":0},{"dt":1646723520,"precipitation":0},{"dt":1646723580,"precipitation":0},{"dt":1646723640,"precipitati[...]
[...]
