---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=afc0534801d8e1975fc30b4fa0841ab2&format=json&geo_context=2&method=flickr.photos.search&nojsoncallback=1&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":11,"perpage":250,"total":2541,"photo":[{"id":"51804618387","owner":"56692108@N03","secret":"f24fbf99ff","server":"65535","farm":66,"title":"DRGW
        GP30 #3006","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51667172538","owner":"56692108@N03","secret":"a8885b4f80","server":"65535","farm":66,"title":"UP
        Big Boy #4005","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51649363411","owner":"56692108@N03","secret":"5606ffbf5f","server":"65535","farm":66,"title":"North
        Yard","ispublic":1,"isfriend":0,"isfamily":0},{"id":"51330095503","owner":"89381857@N07","secret":"c61bea49d6","server":"65535","farm":66,"title":"Starburst","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5126143144[...]
