---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=20&lon=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":20,"lon":20,"timezone":"Africa/Ndjamena","timezone_offset":3600,"current":{"dt":1646775124,"sunrise":1646715277,"sunset":1646758039,"temp":300.98,"feels_like":299.64,"pressure":1007,"humidity":12,"dew_point":269.47,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":8.77,"wind_deg":345,"wind_gust":15.12,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1646775180,"precipitation":0},{"dt":1646775240,"precipitation":0},{"dt":1646775300,"precipitation":0},{"dt":1646775360,"precipitation":0},{"dt":1646775420,"precipitation":0},{"dt":1646775480,"precipitation":0},{"dt":1646775540,"precipitation":0},{"dt":1646775600,"precipitation":0},{"dt":1646775660,"precipitation":0},{"dt":1646775720,"precipitation":0},{"dt":1646775780,"precipitation":0},{"dt":1646775840,"precipitation":0},{"dt":1646775900,"precipitation":0},{"dt":1646775960,"precipitation":0},{"dt":1646776020,"precipitati[...]
[...]
