---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=20&lon=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":20,"lon":20,"timezone":"Africa/Ndjamena","timezone_offset":3600,"current":{"dt":1646797363,"sunrise":1646801627,"sunset":1646844458,"temp":292.36,"feels_like":291.2,"pressure":1009,"humidity":33,"dew_point":275.71,"uvi":0,"clouds":18,"visibility":10000,"wind_speed":11.04,"wind_deg":16,"wind_gust":18.9,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"minutely":[{"dt":1646797380,"precipitation":0},{"dt":1646797440,"precipitation":0},{"dt":1646797500,"precipitation":0},{"dt":1646797560,"precipitation":0},{"dt":1646797620,"precipitation":0},{"dt":1646797680,"precipitation":0},{"dt":1646797740,"precipitation":0},{"dt":1646797800,"precipitation":0},{"dt":1646797860,"precipitation":0},{"dt":1646797920,"precipitation":0},{"dt":1646797980,"precipitation":0},{"dt":1646798040,"precipitation":0},{"dt":1646798100,"precipitation":0},{"dt":1646798160,"precipitation":0},{"dt":1646798220,"precipitati[...]
[...]
