---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=20&lon=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":20,"lon":20,"timezone":"Africa/Ndjamena","timezone_offset":3600,"current":{"dt":1646702676,"sunrise":1646715277,"sunset":1646758039,"temp":293.77,"feels_like":292.25,"pressure":1009,"humidity":14,"dew_point":266.22,"uvi":0,"clouds":7,"visibility":10000,"wind_speed":5.23,"wind_deg":15,"wind_gust":7.31,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"minutely":[{"dt":1646702700,"precipitation":0},{"dt":1646702760,"precipitation":0},{"dt":1646702820,"precipitation":0},{"dt":1646702880,"precipitation":0},{"dt":1646702940,"precipitation":0},{"dt":1646703000,"precipitation":0},{"dt":1646703060,"precipitation":0},{"dt":1646703120,"precipitation":0},{"dt":1646703180,"precipitation":0},{"dt":1646703240,"precipitation":0},{"dt":1646703300,"precipitation":0},{"dt":1646703360,"precipitation":0},{"dt":1646703420,"precipitation":0},{"dt":1646703480,"precipitation":0},{"dt":1646703540,"precipitati[...]
[...]
