---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=80&lon=-40
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":80,"lon":-40,"timezone":"America/Nuuk","timezone_offset":-10800,"current":{"dt":1646797702,"sunrise":1646820903,"sunset":1646853977,"temp":250.01,"feels_like":243.01,"pressure":1013,"humidity":98,"dew_point":249.8,"uvi":0,"clouds":100,"visibility":282,"wind_speed":7.19,"wind_deg":57,"wind_gust":13.6,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.13}},"hourly":[{"dt":1646794800,"temp":250.07,"feels_like":243.07,"pressure":1013,"humidity":98,"dew_point":249.86,"uvi":0,"clouds":100,"visibility":240,"wind_speed":7.22,"wind_deg":53,"wind_gust":15.01,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.68,"snow":{"1h":0.13}},{"dt":1646798400,"temp":250.01,"feels_like":243.01,"pressure":1013,"humidity":98,"dew_point":249.8,"uvi":0,"clouds":100,"visibility":282,"wind_speed":7.19,"wind_deg":57,"wind_gust":13.6,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.6,"snow":{"1h":0.13}},{"dt":1646802000,"temp":249.91,"feels_like":242.91,"pressure":1013,"humidity":98,"dew_point":249.71,"uvi":0,"clouds":100,"visibility":296,"wind_speed":6.58,"wind_deg":60,"win[...]
