---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=6c307907ddfe86267167a2f76cdd6acc&lat=20&lon=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":20,"lon":20,"timezone":"Africa/Ndjamena","timezone_offset":3600,"current":{"dt":1646728575,"sunrise":1646715277,"sunset":1646758039,"temp":301.11,"feels_like":299.73,"pressure":1008,"humidity":10,"dew_point":267.42,"uvi":7.11,"clouds":67,"visibility":10000,"wind_speed":2.06,"wind_deg":21,"wind_gust":1.51,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1646728620,"precipitation":0},{"dt":1646728680,"precipitation":0},{"dt":1646728740,"precipitation":0},{"dt":1646728800,"precipitation":0},{"dt":1646728860,"precipitation":0},{"dt":1646728920,"precipitation":0},{"dt":1646728980,"precipitation":0},{"dt":1646729040,"precipitation":0},{"dt":1646729100,"precipitation":0},{"dt":1646729160,"precipitation":0},{"dt":1646729220,"precipitation":0},{"dt":1646729280,"precipitation":0},{"dt":1646729340,"precipitation":0},{"dt":1646729400,"precipitation":0},{"dt":1646729460,"precipitati[...]
